html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-weight inherit
  :font-style inherit
  :font-size 100%
  :font-family inherit
  :vertical-align baseline

*:focus
  :outline 0

body
  :line-height 1
  :color black
  :background white

ol, ul
  :list-style none

table
  :border-collapse separate
  :border-spacing 0

caption, th, td
  :text-align left
  :font-weight normal

blockquote:before, blockquote:after, q:before, q:after
  :content ""

blockquote, q
  :quotes "" ""

html, body
  :height 100%

body
  :background #111
  :color #666
  :font 1em Helvetica Neue, Helvetica, Arial, sans-serif
  :font-weight 100
  :letter-spacing 0.1em
  
h2
  :font-size 1.5em
  :padding-bottom 10px
  
h3
  :font-size 1.2em
  :padding 10px 0 2px
  :color #222

a
  :color #9c3
  :border-bottom 1px dotted #9c3
  :text-decoration none
  
a:hover
  :background #9c3
  :color #222
  :border-bottom 1px solid #9c3
  
p
  :padding 0 0 10px 0
  
label
  :display block
  
#container
  :height 100%
  :min-height 100%
  :width 620px
  :margin 0 auto
  
  #header
    :text-shadow #000 1px 1px 5px
    
    h1
      :font-size 3em
      :padding 20px 0
      
      a
        :border none
    
    #nav
      :padding-bottom 20px
      :text-align right
    
      ul
        li
          :display inline
          :padding-left 10px 

table.tablesorter
  :background #4D4D4D
  :font-size 0.7em
  :width 100%
  :border 1px solid #000
  
  th
    :text-align left
    :padding 5px
    :background #6E6E6E
  
  td
    :color #FFF
    :padding 5px
    button
      :background transparent
      :border none
      :margin 0
      :padding 0
      :cursor pointer
  
  .even
    :background #3D3D3D
  
  .odd
    :background #6E6E6E
  
  .header
    :background url(images/bg.png) no-repeat
    :border-left 1px solid #FFF
    :border-right 1px solid #000
    :border-top 1px solid #FFF
    :padding 10px 0 10px 30px
    :height auto
    :cursor pointer

  .headerSortUp
    :background url(images/asc.png) no-repeat

  .headerSortDown
    :background url(images/desc.png) no-repeat
    
  .none
    :padding 0
    :margin 0
    :background url(images/bg.png) top right no-repeat

#footer
  :text-shadow #000 1px 1px 5px
  :height 20px
  :width 620px
  :margin -20px auto 0 auto
  :text-align center
  :font-size 0.8em
  :overflow hidden
